@import '../../styles/variables';

.sidebar {
    &__link {
        color: $color-font-grey;
        transition: $transition;

        &:hover,
        &:active {
            color: $color-brand;
        }
    }
}
