@import "../../styles/variables";

.sidebar {
    position: fixed;
    bottom: 0;
    width: 4rem;
    z-index: 50;
    height: 40vh;
    font-size: 1.4rem;
    letter-spacing: 1px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
        content: "";
        background-color: $color-font-grey;
        display: block;
        width: 2px;
        height: 100%;
        margin: 0 auto;
    }

    &__left {
        left: 3rem;
        right: auto;

        @media screen and (max-width: 56.25em) {
            left: 0;
        }
    }

    &__right {
        right: 3rem;
        left: auto;

        @media screen and (max-width: 56.25em) {
            right: 0;
        }
    }
}
