.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 14rem;
    margin-bottom: 3rem;

    &__link {
        font-size: 1.4rem;
        color: $color-font-grey-dark;
        transition: $transition;

        &:hover,
        &:active {
            color: $color-brand;
        }
    }
}
