.code {
    background-color: $bg-color-light;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    border-radius: 4px;
    color: $color-font-grey;
    font-weight: 600;
}

.link {
    color: $color-brand;
}
