@import "../../../styles/variables";

.hero {
    min-height: 90vh;
    height: 90vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    &__title {
        color: $color-brand;
        font-size: 2rem;
        letter-spacing: 1;
        font-weight: 700;
        margin-bottom: 1rem;
        @media screen and (max-width: 43.75em) {
            font-size: 1.8rem;
        }
    }

    &__subtitle {
        color: $color-font-grey;
        font-size: 6.4rem;
        letter-spacing: -1px;
        font-weight: 700;
        margin-bottom: 1.5rem;

        &--dark {
            color: $color-font-grey-dark;
        }

        @media screen and (max-width: 56.25em) {
            font-size: 4.8rem;
        }

        @media screen and (max-width: 43.75em) {
            font-size: 3.6rem;
        }
    }

    &__description {
        max-width: 50%;
        color: $color-font-grey-dark;
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem 0;

        @media screen and (max-width: 56.25em) {
            max-width: 70%;
        }

        @media screen and (max-width: 43.75em) {
            max-width: 90%;
            font-size: 1.8rem;
        }
    }

    &__accent {
        color: $color-brand;
    }

    &__button {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
}
