@import "../../styles/variables";

.header {
    background-color: $bg-color-dark;
    padding: 0 7rem;

    @media screen and (max-width: 56.25em) {
        padding: 0 2rem;
    }

    @media screen and (max-width: 43.75em) {
        padding: 0;
    }
}

.navigation {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;

    @media screen and (max-width: 43.75em) {
        gap: 1.4rem;
    }

    &__skip {
        color: $bg-color-dark;
        background-color: $color-brand;
        border: 1px solid $color-brand;
        border-radius: $border-radius;
        font-size: 1.6rem;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: $transition;
        padding: 1.5rem 2.5rem;
        position: absolute;
        top: auto;
        left: -999px;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -99;

        &:focus,
        &:active {
            top: 0px;
            left: 0px;
            width: auto;
            height: auto;
            overflow: auto;
            z-index: 99;
        }
    }
}
