@import "../../styles/variables";

.header {
    background-color: rgba($bg-color-dark, 0.8);

    padding: 0 7rem;
    transition: $transition;

    @media screen and (min-width: 43.75em) {
        position: sticky;
        z-index: 100;
        top: 0px;
        height: 10rem;
        backdrop-filter: blur(5px);
        &__sticky {
            top: -10rem;
        }
    }

    @media screen and (max-width: 56.25em) {
        padding: 0 2rem;
    }

    @media screen and (max-width: 43.75em) {
        padding: 0;
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 2rem;

    @media screen and (max-width: 43.75em) {
        display: none;
    }

    &__skip {
        color: $bg-color-dark;
        background-color: $color-brand;
        border: 1px solid $color-brand;
        border-radius: $border-radius;
        font-size: 1.6rem;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: $transition;
        padding: 1.5rem 2.5rem;
        position: absolute;
        top: auto;
        left: -999px;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -99;

        &:focus,
        &:active {
            top: 0px;
            left: 0px;
            width: auto;
            height: auto;
            overflow: auto;
            z-index: 99;
        }
    }
}

.mobile-nav {
    display: none;

    @media screen and (max-width: 43.75em) {
        display: flex;
    }

    &__button {
        display: flex;
        align-items: center;
        z-index: 9999;

        border: none;
        background-color: transparent;
        cursor: pointer;
        position: fixed;
        top: 3rem;
        right: 3rem;

        height: 4rem;
        width: 4rem;

        &:focus {
            outline: none !important;
        }
    }

    &__icon {
        width: 3rem;

        &:focus {
            outline: none !important;
        }

        &,
        &::before,
        &::after {
            display: block;
            height: 2px;
            background-color: $color-brand;
            transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
            content: "";
        }

        &::before {
            width: 4rem;

            transform: translateY(calc(-1rem - 50%));
        }

        &::after {
            width: 2rem;

            transform: translateY(calc(1rem - 50%));
        }

        &-active {
            height: 0;

            &::before {
                width: 4rem;
                transform: translateY(0) rotate(135deg);
            }

            &::after {
                width: 4rem;
                transform: translateY(-1px) rotate(-135deg) translateX(1px);
            }
        }
    }

    &__sidebar {
        overflow-x: hidden;
        width: min(75vw, 400px);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background-color: $bg-color-lighter;
        box-shadow: -10px 0px 30px -15px rgba($bg-color-lighter, 0.7);
        transition: $transition;
        visibility: hidden;
        transform: translateX(100vw);
        backdrop-filter: blur(10px);

        z-index: 1000;

        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;

        &-active {
            visibility: visible;
            transform: translateX(0vw);
        }
    }
}
