@import "../../styles/variables";

.nav-link {
    font-size: 2rem;
    text-decoration: none;
    color: $color-font-grey;

    padding: 1rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    scale: 1;
    transition: all 0.5s;

    &:hover {
        color: $color-brand;
        scale: 1.03;
    }

    &__subtitle {
        color: $color-brand;
    }
}
