@import "../../styles/variables";

.button {
    background-color: transparent;
    color: $color-brand;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    opacity: 0.9;
    border-radius: $border-radius;
    transition: $transition;

    cursor: pointer;

    border: 1px solid $color-brand;

    &:hover {
        background-color: $color-green-tint;
    }
}
