@import "../../styles/variables";

.title {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 3.2rem;
    color: $color-font-grey;
    white-space: nowrap;
    margin-top: 9rem;
    margin-bottom: 6rem;

    &__number {
        color: $color-brand;
        margin-right: 1.4rem;
        font-size: 2.4rem;
        margin-bottom: 0.2rem;
        font-weight: 400;
    }

    &::after {
        content: "";
        height: 1px;
        width: 70%;
        display: block;
        margin-left: 2.4rem;
        background-color: $bg-color-light;
    }
}
