.list {
    list-style: none;
    margin-top: 2rem;
    margin-bottom: 9rem;

    @media screen and (max-width: 43.75em) {
        margin-bottom: 3rem;
    }
    & li {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        color: $color-font-grey-dark;
        display: inline-block;
        max-width: 50%;
        width: 100%;
        margin-bottom: 1rem;

        &::before {
            content: "▹";
            color: $color-brand;
            font-size: 1.6rem;
            margin-right: 0.8rem;
        }
    }
}
