.code {
    font-size: 1.8rem;
    line-height: 3rem;

    margin-top: 6rem;
    margin-bottom: 6rem;
    box-shadow: rgba(256, 256, 256, 0) 0px 0px 0px 0px, rgba(256, 256, 256, 0) 0px 0px 0px 0px,
        rgba(256, 256, 256, 0.03) 0px 0.8px 2px 0px, rgba(256, 256, 256, 0.047) 0px 2.7px 6.7px 0px,
        rgba(256, 256, 256, 0.08) 0px 12px 30px 0px;

    & pre {
        border-radius: 8px;
        padding: 2rem;
        background-color: $bg-color-lighter !important;
        border: 1px solid rgba($color-brand, 0.3);
        text-wrap: wrap;
    }

    & pre:focus {
        outline: none;
    }
}
