.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__subtitle {
        margin-top: 14rem;
        color: $color-brand;
        font-size: 2rem;
        & span {
            font-size: 1.6rem;
        }
    }

    &__title {
        font-size: 5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        &:after {
            width: 0;
        }
    }

    &__button {
        padding: 2rem 4rem;
        font-size: 1.6rem;
        margin-bottom: 14rem;
    }

    &__description {
        margin-bottom: 6rem;
        color: $color-font-grey-dark;
        font-size: 1.6rem;
    }
}
