.unorderedList {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: rgba($color-font-grey, 0.9);
    margin: 1.2rem;
    margin-left: 2.8rem;
    list-style-type: none;

    & li {
        position: relative;
    }

    & li:nth-child(1n+2) {
        margin-top: 10px;
   }

    & li::before {
        content: '\25BA';
        display: inline-block;
        color: transparent;
        font-size: 1.4rem;
        position: absolute;
        background: linear-gradient(45deg, $color-brand, rgb(255, 87, 51));
        -webkit-background-clip: text;
        background-clip: text;
        margin-left: -24px;
    }

    & code {
        background-color: $bg-color-light;
        padding-left: 4px;
        padding-right: 4px;
        display: inline-block;
        border-radius: 4px;
        color: $color-font-grey;
        font-weight: 600;
    }
}
