@import "../../../styles/variables";

.about {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 6rem;

    &__description {
        font-size: 2rem;
        color: $color-font-grey-dark;
        margin-top: 4rem;
    }

    &__photo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
