@import "../../../styles/variables";

.about {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 6rem;
    margin-bottom: 9rem;

    &__description {
        font-size: 2rem;
        color: $color-font-grey-dark;
    }

    &__photo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
