$bg-color-dark: #1a1a20;
$bg-color-light: #2f2f36;
$bg-color-lighter: rgb(39, 39, 38);

$color-brand: rgb(255, 154, 67);

$color-green-tint: rgba(255, 154, 67, 0.1);

$color-font-grey: rgb(218, 218, 218);
$color-font-grey-dark: rgb(163, 163, 162);

$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-long: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

$border-radius: 8px;

$max-width: 130rem;
