@import "./variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: $bg-color-dark;
}

a {
    color: inherit;
    text-decoration: none;
}
