.featured {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    margin-bottom: 12rem;

    &__photo {
        display: flex;
        position: relative;
        z-index: 1;
        width: 100%;
        max-height: 100%;

        &--right {
            grid-column: 1 / 9;
            grid-row: 1 / 2;
            @media screen and (max-width: 43.75em) {
                grid-column: 1 / -1;
            }
        }

        &--left {
            grid-column: 6 / 13;
            grid-row: 1 / 2;
            @media screen and (max-width: 43.75em) {
                grid-column: 1 / -1;
            }
        }
    }

    &__image {
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__content {
        position: relative;
        z-index: 2;

        @media screen and (max-width: 43.75em) {
            background-color: rgba($bg-color-dark, 0.85);
            height: 100%;
            padding: 6rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &--right {
            grid-column: 7 / -1;
            grid-row: 1 / 2;
            @media screen and (max-width: 56.25em) {
                grid-column: 6 / -1;
            }
            @media screen and (max-width: 43.75em) {
                grid-column: 1 / -1;
            }
        }

        &--left {
            grid-column: 1 / 7;
            grid-row: 1 / 2;
            @media screen and (max-width: 56.25em) {
                grid-column: 1 / 8;
            }

            @media screen and (max-width: 43.75em) {
                grid-column: 1 / -1;
            }
        }
    }

    &__text {
        font-weight: 400;
        color: $color-brand;
        font-size: 1.8rem;

        &--right {
            text-align: right;

            @media screen and (max-width: 43.75em) {
                text-align: start;
            }
        }

        &--left {
            text-align: start;
        }
    }

    &__heading {
        display: flex;

        &--right {
            justify-content: flex-end;
            @media screen and (max-width: 43.75em) {
                justify-content: flex-start;
            }
        }

        &--left {
            justify-content: flex-start;
        }
    }

    &__title {
        color: $color-font-grey;
        font-size: 3.2rem;
        font-weight: 600;
        transition: $transition;

        &:hover,
        &:active {
            color: $color-brand;
        }

        @media screen and (max-width: 43.75em) {
            color: $color-brand;
            font-size: 4.2rem;
        }
    }

    &__description-box {
        display: flex;
        justify-content: flex-start;
        padding: 4rem;
        border-radius: $border-radius;
        box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
        background-color: $bg-color-lighter;
        margin: 2rem 0;

        @media screen and (max-width: 56.25em) {
            padding: 2rem;
        }

        @media screen and (max-width: 43.75em) {
            background-color: transparent;
            padding: 0;
        }
    }

    &__description {
        color: $color-font-grey-dark;
        font-size: 1.6rem;
        line-height: 1.4;

        @media screen and (max-width: 43.75em) {
            font-size: 1.8rem;
        }

        &--right {
            text-align: right;
            @media screen and (max-width: 43.75em) {
                text-align: start;
            }
        }

        &--left {
            text-align: start;
        }
    }

    &__list {
        list-style: none;
        color: $color-font-grey;
        font-size: 1.6rem;

        display: flex;
        gap: 3rem;
        width: 80%;
        @media screen and (max-width: 43.75em) {
            font-size: 1.8rem;
            display: grid;
            grid-template-columns: repeat(3, auto);
        }

        &--right {
            margin-left: auto;
            justify-content: flex-end;

            @media screen and (max-width: 43.75em) {
                justify-content: flex-start;
                margin-right: auto;
                margin-left: 0;
            }
        }

        &--left {
            margin-right: auto;
            justify-content: flex-start;
        }
    }

    &__icons {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        &--left {
            justify-content: flex-start;
        }
        &--right {
            justify-content: flex-end;

            @media screen and (max-width: 43.75em) {
                justify-content: flex-start;
            }
        }
    }

    &__link {
        cursor: pointer;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        transition: $transition;
        color: $color-font-grey;

        @media screen and (max-width: 43.75em) {
            width: 3.6rem;
            height: 3.6rem;
            color: $color-brand;
        }

        &:hover {
            color: $color-brand;
        }
    }
}
